@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@layer base {
    #banner {
        background-color: #01120C;
        background-image: url('./images/bg image.jpg');
    }
    @media (max-width: 768px) {
        #banner {
            background-image: url('./images/bg image mobile.jpg');
        }
    }

    .menu li, .goBack {
        color: #EFEFEF;
        font-weight: 500;
    }
    .menu li:hover, .goBack:hover {
        transition: all .2s ease-out;
        color: #032015;
    }

    footer a:hover svg {
        fill: #efefef9c;
    }
    footer a:hover p {
        color: #efefef9c
    }

    .btn {
        @apply bg-gray-dark text-white rounded-md px-4 py-1.5;
    }
    .grid-sq {
        @apply w-[10px] h-[10px] rounded-sm md:w-[15px] md:h-[15px] md:rounded;
    }
}

body {
    font-family: 'Wix Madefor Text', 'sans-serif';
    background-color: #EFEFEF;
}

embed {
    width: 90%;
    pointer-events: none;
}

#select-skill label {
    cursor: pointer;
    background-color: #35605a29;
    padding: .5rem 1rem;
    border-radius: 1rem;
}
